<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="11473078" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0000" viewmode="application" widgetId="" width="320">
	
	<name>xiangmu</name>
	<description/>
	<author email=""> </author>
	<icon src="icon.png"/>
	<license href=""/>
	<content encoding="utf-8" src="index_login_drawer.html"/>
	<updateurl/>
	<logserverip/> 
	<showmyspace>false</showmyspace>
	<obfuscation>true</obfuscation>
	<bgcolor>#fefefe</bgcolor>
	<orientation>13</orientation>
<debug/>
<partobfuscation/>
<webapp/>
</widget>
